ignore:
  files:
    - e2e/*
    - pkg/*
    - "**/testdata/**"

rules:
  custom:
    missing-metadata:
      level: error
      except-rule-path-pattern: \.report$
      # TODO: this should be in the default config, but it seems
      #       like the ignore attribute isn't read from there
      ignore:
        files:
          - "*_test.rego"
    narrow-argument:
      level: error
      exclude-args:
        - cfg
        - metadata
        - rule
    one-liner-rule:
      level: error
    prefer-value-in-head:
      level: error
      only-scalars: true
  style:
    line-length:
      level: error
      non-breakable-word-threshold: 100
  imports:
    unresolved-reference:
      level: error
      except-paths:
        - data.eval.**
        - data.internal**
        - data.schema.**
        - data.workspace.**
        - data.regal.config.provided**
        - data.custom.regal**
