/***************************
 * GLOBAL RESET
 ***************************/

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}


:root {
	--white: #ffffff;
	--gray05: #fafafa;
	--gray10: #f4f4f4;
	--gray15: #eaeaea;
	--gray20: #e0e0e0;
	--gray30: #c6c6c6;
	--gray40: #a8a8a8;
	--gray50: #8d8d8d;
	--gray60: #6f6f6f;
	--gray70: #525252;
	--gray80: #393939;
	--gray90: #262626;
	--black: #000000;

	--blue10: #edf5ff;
	--blue20: #d0e2ff;
	--blue30: #a6c8ff;
	--blue40: #78a9ff;
	--blue50: #4589ff;
	--blue60: #0f62fe;
	--blue70: #0043ce;
	--blue80: #002d9c;
	--blue90: #001d6c;
	--blue100: #001141;

	--red10: #fff1f1;
	--red20: #ffd7d9;
	--red30: #ffb3b8;
	--red40: #ff8389;
	--red50: #fa4d56;
	--red60: #da1e28;
	--red70: #a2191f;
	--red80: #750e13;
	--red90: #520408;
	--red100: #2d0709;

	--input-border: var(--gray30);
	--input-background: var(--gray05);
	--input-color: var(--gray80);

	--input-border-invalid: var(--red40);
	--input-background-invalid: var(--red20);
	--input-color-invalid: var(--red50);

	--border-radius: 7px;
}

body {
	background-color: white;
	padding:0px;
	margin:0px;
	width:100%;
}

main {
	margin: 50px;
	padding-left:200px;
}

.container {
	padding: 10px;
	border: solid 1px gray;
	margin-bottom: 20px;
	background-color:#f7f7f7;
	height:130px;
	overflow:hidden;
}

.container.elastic {
	height:auto!important;
}

pre.code {
	font-family:'Courier New', Courier, monospace;
	background-color: #444440;
	color: #0f0;
	padding:30px 5px 30px 15px;
	overflow-y:scroll;
	display:block;
}
