name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.1
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
      - run: go test ./...
      - run: go build
      - run: chmod +x regal
      - run: ./regal lint bundle
      - run: go test -tags e2e ./e2e
