# this workflow is used to update the Regal content at docs.styra.com
# when it changes in this repo.
name: Update Docs

on:
  push:
    tags:
      - v[0-9].**
  workflow_dispatch:

permissions: read-all

jobs:
  update-docs:
    name: Update Docs
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0

      - name: Save version
        run: |
          mkdir -p versions
          echo "${{ github.sha }}" > versions/regal

      - name: Update docs
        uses: leigholiver/commit-with-deploy-key@64d2c8705aa10aa475e971b877a7fe6ada69a1a2
        with:
          source: versions
          destination_folder: imported/versions
          destination_repo: StyraInc/docs
          deploy_key: ${{ secrets.STYRA_DOCS_DEPLOY_KEY }}
